.gradient-stroke-text {
  background: linear-gradient(90deg, rgba(253, 220, 139, 0.95) 0%, rgba(40, 208, 232, 0.95) 100%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px transparent;
  color: #141414;
}
